body
	background  #d1d1d1
	margin: 0px
	padding: 0px

a
	text-decoration none
nav
	height 40px
	background #333
nav ul
	list-style none
	margin 0px
	padding 0px
nav ul li
	float left
nav ul li a
	color white
	line-height 40px
	padding 0 20px
	display block
nav ul li a:hover
	background #999
	color #333
