body {
  margin: 0;
  padding: 0;
  background: #f4f4f4;
}
header,
article,
footer {
  width: 960px;
  margin: auto;
}
.menu {
  width: 960px;
  margin: auto;
  clear: both;
  height: 40px;
  background: #555;
}
nav ul {
  list-style: none;
  margin: auto;
  padding: 0;
  height: 40px;
  width: 500px;
}
nav ul li {
  float: left;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 40px;
  display: block;
  width: 100px;
  text-align: center;
}
nav ul li a:hover {
  background: #777;
}
.logo {
  float: left;
}
.redes_sociales {
  float: right;
}
